@use "../css/reset";

@font-face {
    font-family: Comfortaa-Regular;
    src: url(../font-family/Comfortaa_Regular.ttf);
}

*, body {
    font-family: Comfortaa-Regular;
    background: lightgrey;
}

.title {
    font-weight: bold;
    font-size: 2em;
    padding: 50px;
    text-align: center;
}

.task-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 25px;
    font-size: 1.5em;
    padding: 50px;
    width: 100%;
    input {
        width: 45%;
        text-align: center;
        border-radius: 5px;
        background: whitesmoke;
        font-weight: bold;
        padding: 10px;
    }
    button {
        width: 10%;
        border-radius: 5px;
        font-weight: bold;
        background: #69c;
        color: whitesmoke;
        padding: 10px;
    }
}

#todo-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    padding: 60px;
    gap: 10px;
    li {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        border: 1px solid #69c;
        padding: 10px;
        border-radius: 5px;
        background: whitesmoke;
        .check-task {
            height: 20px;
            flex: 1;
        }
        .task {
            display: flex;
            text-align: center;
            height: 20px;
            border: none;
            flex: 3;
            background: whitesmoke;
            font-weight: bold;
        }
        .stripe {
            text-decoration: line-through;
        }
        img {
            height: 20px;
            cursor: pointer;
            background: whitesmoke; 
        }
    }
}
